<section class="about">
  <div class="container">
    <h2 class="about-heading">Відео про нашу роботу</h2>
    <p class="about-desc">Просто подивіться, як ми працюємо</p>
    <div class="about-player">
      <video
        width="970"
        height="430"
        src="#"
        poster="./images/about/about-preview.png"
      ></video>
      <button type="button" class="play-btn">
        <svg width="60" height="60">
          <use href="./images/symbol-defs.svg#icon-play-button"></use>
        </svg>
        Дивитись відео
      </button>
    </div>
  </div>
</section>
