<header class="header">
    <div class="container">
    <ul class="header-list">
        <li class="header-item">
            <a href="#" class="header-page">Головна</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-page">Наші проекти</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-page">Послуги</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-page">Новини</a>
        </li>
        <li class="header-item">
            <a href="#" class="header-page">Контакти</a>
        </li>
    </ul>
</div>
</header>