<section class="standards">
    <div class="container ">
        <div class="standards-thumb ">
            <div class="content">
                <div class="standards-box">
                    <h2 class="standards-title" data-aos="fade-down">Високі стандарти розробки</h2>
                    <p class="standards-text" data-aos="fade-down" >Lorem Ipsum - це текст-"риба", що часто використовується в пресі та
                        веб-дизайні.
                        Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.</p>
                    <a href="#" class="standards-link" data-aos="zoom-in-up">Детальніше про компанію</a>
                </div>
                <div class="img-box">
                    <img src="./images/standards-img.png" alt="Two people working with laptops and notes." width="500"
                        class="standards-img"   data-aos="flip-down">
                </div>
            </div>
            <hr class="standards-hr">
            <ul class="standards-list" >
                <li class="standards-item" data-aos="zoom-out-left">
                    <h3 class="item-title">
                        <svg width="30" height="26">
                            <use href="./images/symbol-defs.svg#icon-standards"></use>
                        </svg> 125
                    </h3>
                    <p class="item-text">Our projects</p>
                </li>
                <li class="standards-item" data-aos="zoom-out-left">
                    <h3 class="item-title">
                        <svg width="30" height="26">
                            <use href="./images/symbol-defs.svg#icon-standards"></use>
                        </svg> 125
                    </h3>
                    <p class="item-text">Our projects</p>
                </li>
                <li class="standards-item" data-aos="zoom-in">
                    <h3 class="item-title">
                        <svg width="30" height="26">
                            <use href="./images/symbol-defs.svg#icon-standards"></use>
                        </svg> 125
                    </h3>
                    <p class="item-text">Our projects</p>
                </li>
                <li class="standards-item" data-aos="zoom-out-right">
                    <h3 class="item-title">
                        <svg width="30" height="26">
                            <use href="./images/symbol-defs.svg#icon-standards"></use>
                        </svg> 125
                    </h3>
                    <p class="item-text">Our projects</p>
                </li>
                <li class="standards-item" data-aos="zoom-out-right">
                    <h3 class="item-title">
                        <svg width="30" height="26">
                            <use href="./images/symbol-defs.svg#icon-standards"></use>
                        </svg> 125
                    </h3>
                    <p class="item-text">Our projects</p>
                </li>
            </ul>
        </div>
    </div>
</section>