<section class="standards">
    <div class="container">
       <div class="standards-box">
        <h2 class="standards-title">Високі стандарти розробки</h2>
        <p class="standards-text">Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.</p>
        <a href="#" class="standards-link">Детальніше про компанію</a>
        <div class="img-box">
        <img src="#" alt="" class="standards-img">
        </div>
       </div>
       <ul class="standards-list">
        <li class="standards-item">
            <h3 class="item-title"> <svg><use href="#"></use></svg> 125</h3>
            <p class="item-text">Our projects</p>
        </li>
        <li class="standards-item">
            <h3 class="item-title"> <svg><use href="#"></use></svg> 125</h3>
            <p class="item-text">Our projects</p>
        </li>
        <li class="standards-item">
            <h3 class="item-title"> <svg><use href="#"></use></svg> 125</h3>
            <p class="item-text">Our projects</p>
        </li>
        <li class="standards-item">
            <h3 class="item-title"> <svg><use href="#"></use></svg> 125</h3>
            <p class="item-text">Our projects</p>
        </li>
        <li class="standards-item">
            <h3 class="item-title"> <svg><use href="#"></use></svg> 125</h3>
            <p class="item-text">Our projects</p>
        </li>
       </ul>
    </div>
</section>