<section class="subscribe">
    <div class="container subscribe-container">
        <h3 class="subscribe-title">Підпишіться на нашу розсилку</h3>
        <p class="subscribe-description">Корисні статті, акції, новини - отримайте все це зараз!</p>
            <form class="subscribe-form">
                <input type="search" class="subscribe-input" placeholder="Ваш e-mail" required />
                <button class="subscribe-btn" type="submit">Підписатися</button>
            </form>
            <p class="subscribe-text">Ми не шлем спам, і не передаємо нікому ваші дані</p>
    </div>
</section>