.mob-title {
  color: rgb(50, 50, 50);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0%;
}

.mob-text {
  margin-top: 32px;
  margin-bottom: 70px;
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0%;
  text-align: center;
}

.mob-list {
  display: flex;
  gap: 27px;
}

.mob-icon {
  margin-bottom: 30px;
  margin-right: 17px;
}
.mob-subtitle {
  float: left;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0%;
}

.mob-desc {
  float: left;
  color: rgb(153, 153, 153);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0%;
}
.mob-button {
    background-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    padding: 13px 36px 15px 26px;
    border-radius: 0 30px 30px 0;
}